[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "home/zsh/prompts/git-prompt.zsh"]
	path = home/zsh/prompts/git-prompt.zsh
	url = git@github.com:woefe/git-prompt.zsh.git
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "home/zsh/plugins/zsh-completions"]
	path = home/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "home/zsh/plugins/zsh-history-substring-search"]
	path = home/zsh/plugins/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "home/zsh/plugins/zsh-syntax-highlighting"]
	path = home/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
