*.DS_Store
.AppleDouble
.LSOverride
nvim/.config/nvim/dein/repos/*
nvim/.config/nvim/tmp/*
nvim/.config/nvim/view/*
nvim/.config/nvim/dein/state_nvim.vim
nvim/.config/nvim/dein/cache_nvim
nvim/.config/nvim/dein/.cache/*
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/spell/en.utf-8.spl
nvim/.config/nvim/spell/en.utf-8.sug
nvim/.config/radare2/
nvim/.config/Hewlett-Packard/*
nvim/.config/SweetScape/*
nvim/.config/configstore/*
r2/.config/radare2/history
tmux/.tmux/resurrect/*
